$themes: (
  light: (
    background-color: rgba(0, 0, 0, 0.7),
    modal-background-color: rgb(236, 234, 234),
    text-color: rgba(0, 0, 0),
    btn-background-color: rgb(78, 93, 233),
  ),
  dark: (
    background-color: rgba(0, 0, 0, 0.7),
    modal-background-color: rgba(0, 0, 0),
    text-color: rgba(236, 234, 234),
    btn-background-color: rgb(59, 58, 58),
  ),
);
